.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke:currentcolor;
    fill: currentcolor;
    padding:10px;
}
.icon-bubbles2 {
    width: 1.125em;
}

.header a{
    /* padding:20px; */
    background-color: var(--sec);
    border-radius:50%;
}

.icon-facebook{
    color:var(--prim);
    font-size:24px;
}


/*header*/
.header{
    /*border:3px solid orange;*/
    position:relative;
    background-color: black;
}

.header .icon{
    color:black;
    background:white;
    padding:15px;
    border-radius: 40px;
}

.logo{
    font-family: 'Cedarville Cursive', cursive;
    /*border:3px solid black;*/
    position:absolute;
    bottom:0;
    color:white;
}

.social-list{
    /*border:3px solid rgb(92, 20, 32);*/
    display:flex;
    margin-left:80%;
    justify-content: space-evenly;
    list-style:none;
    width:250px;
}
/*end header*/


/*main*/

.button{
    text-transform: uppercase;
    border-radius: 9px;
    padding:15px 18px;
    background-color:black;
    color:white;
}

.section1{
    /*border:3px solid red;*/
    position:relative;
    background:rgb(230, 124, 142);
    padding:15px;
}

.block1{
    /*border:3px solid rgb(150, 2, 2);*/
    width:730px;
    padding:30px;
    /*height:400px;*/
}

.block1-text{
    /*border:3px solid rgb(24, 100, 57);*/
    width:500px;
    padding:30px;
    color:white;
    font-size:18px;
}

.block2-text{
    /*border:3px solid seagreen;*/
    width:500px;
    padding:30px;
    color:white;
    font-size:18px;
}

.block2{
    /*border:3px solid rgb(46, 44, 44);*/
    width:400px;
    height:250px;
    position: absolute;
    right:0;
    margin-top:-29%;
    padding:5%;
}

.section2{
    /*border:3px solid green;*/
    height:300px;
    position:relative;
    background:whitesmoke;
}

.section2 .sub-header{
    /*border:2px solid navy;*/
    position:absolute;
    top:0;
    margin-left:6%;
    font-size: 170%;
}

.section2 .icon{
    /*border:2px solid orange;*/
    border-radius: 40px;
}
.block3{
    /*border:3px solid mediumorchid;*/
    width:400px;
    height:300px;
    float:right;
    margin-left:10%;
    font-size:110%;
}

.block4{
    /*border:3px solid mediumorchid;*/
    width:400px;
    height:300px;
    float:right;
    margin-left:8%;
    font-size:110%;
}

.block5{
    /*border:3px solid mediumorchid;*/
    width:400px;
    height:300px;
    float:right;
    font-size:110%;
}

.section3{
    /*border:3px solid brown;*/
    position:relative;
    height:550px;
}

.block6{
    /*border:3px solid lawngreen;*/ 
    width:800px;
    height:600px;
}

.section3 .icon{
    /*border:2px solid brown;*/
    padding:110px 190px;
    background-color: black;
    color:white;
    border-radius:40px;
}

.aside{
    /*border:3px solid tomato;*/
    width:500px;
    padding:50px;
    /*height:400px;*/
    position:absolute;
    right:0;
    margin-top:-35%;
    font-size:18px;
}
/*end main*/


/*footer*/
.footer{
    /*border:3px solid purple;*/
    position:relative;
    background-color: black;
}

.colophon{
    /*border:3px solid rgb(54, 4, 54);*/
    position:absolute;
    bottom:0;
    color:white;
}

.footer .icon{
    background-color: white;
    color:black;
    padding:15px;
    border-radius: 40px;
}
/*end footer*/